

* {margin: 0; padding: 0; outline: 0;}

body {
	background: #C8A2C8;
}

@font-face {
    font-family: myFont;
    src: url(CovesLight.otf);
}

@font-face {
	font-family: myFonta;
	src: url(avenir.ttf);
}

@font-face {
	font-family: headerFont;
	src: url(Muli.ttf);
}

@font-face {
	font-family: boldmuli;
	src: url(Muli-Bold.ttf);
}

@font-face {
	font-family: pretty;
	src: url(King-Basil-Lite.otf);
}


.clear {
	clear: both;
}

.section {
	width: 100%;
	z-index: 10;
	position: relative;
	height: 250px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}

.boxed {
  background-color: white;
  border-radius: 40px;
  float: left; 
  width: 450px;
  height: 340px;
  position: absolute;
}


.pls {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: url("perfectmarble.jpg");
}

#pls2 {
	font-family: pretty;
	font-size: 38px;
	padding-top: 60px; 
	padding-left: 45px;

}

#name {
	color: white;
	padding-top: 70px;
	padding-right: 80px;
	float: right;
	font-family: myFont;
	font-size: 65px;
	opacity: 1;
	font-weight: 1000;
}

#heading {
	color: white;
	text-align: center;
	font-family: myFont;
	padding-top:40px;
	font-size: 70px;
	font-weight: 800;
	opacity: 1;
	letter-spacing: 0.5px;
}

#heading2 {
	color: white;
	text-align: center;
	float:right;
	font-family: myFont;
	padding-top:40px;
	font-size: 70px;
	font-weight: 800;
	opacity: 1;
}

#intro {
	color: white;
	float:right;
	padding-right: 40px;
	font-family: myFont;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: lighter;
	font-style: italic;
}

#intro2 {
	color: white;
	font-family: myFont;
	float: left;
	padding-top:20px;
	padding-right: 100px;
	font-size: 21px;
	font-weight: lighter;
	letter-spacing: 0.5px;

}

#intro3 {
	color: #3D1651;
	font-family: myFont;
	float: middle;
	font-size: 16px;

}

#quote {
	color: black;
	padding-top: 20px;
	font-family: pretty;
	float: middle;
	text-align: center;
	font-size: 55px;
}



.inner {
	width: 980px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-family: headerFont;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}

.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #C8A2C8;
	float: center;
}

.subMenu .inner {
	padding:0;
	font-weight: 400;
	margin: 0;
	float: right;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: right;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #fff;
}
.subMenu a:hover {
	background: #583759;
}

.active {
	background: #583759;
}
.end {
	margin: 0;

}

.sTop {
	height: 450px;
	padding-top: 100px;
	background: #C8A2C8;
}

.s1 {
	background-color: #583759;
	border-width: 110px;
    border-style: solid;
	border-image: url("perfectmarble.jpg") 25%;
	border-bottom:0;
	border-left:0;
    border-right:0;
	height: 400px;
	padding-top: 40px;
	margin: 0;
	overflow: hidden;
}

.s2 {
	background-color: #583759;
	height: 400px;
	overflow: hidden;
}

.s3 {
	background-color: #F8EAFF;
	height: 1100px;
}

.s4 {
	background: url("perfectmarble.png");
	background-color: #583759;
	margin: 0;
	background-repeat: no-repeat;
	height: 250px;
}

.s5 {
	height: 200px;
	background-color: #583759;
}







